@model UsluzniObrt.MVC.ViewModels.ItemsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<body>

    @Html.AntiForgeryToken()
        @foreach (var item in Model.Items)
        {
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="text-center text-capitalize">@item.Name</td>
                                    <td class="text-center text-capitalize">@item.Price.ToString("0.00 Kn")</td>
                                    <td class="text-center text-capitalize">@item.Description</td>
                                    <td class="text-center text-capitalize">@item.Category.Name</td>
                                    <td class="text-center text-capitalize">@item.Status</td>
                                    <td class="text-center text-capitalize">
                                        @Html.ActionLink("Modify", "Modify", new { id = item.Id }, new { @class = "btn btn-primary" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
</body>

@*<script>
    var departmentId = 0;
    $("a[id$='manage-trigger']").on("click", function (event) {
        event.preventDefault();
        var depId = $(this).data("department-id");
        $.ajax({
            url: "ManageDepartment/" + depId,
            type: "GET",
        }).done(function (result) {
            $("#ManageDepartmentContainer").html(result)
            $("#ManageDepartment").modal("show")
        });
    });
</script>*@