@model UsluzniObrt.MVC.ViewModels.CartIndexViewModel

@{
    ViewBag.Title = "Your Cart";
}
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Quantity</th>
                            <th>Item</th>
                            <th class="text-right">Price</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cart.OrderList)
                        {
                            <tr>
                                <td class="text-center text-capitalize">
                                    <p class="mb-0">
                                        @Html.ActionLink("-", "RemoveOneFromCart", new { id = item.Item.Id }, new { @class = "btn btn-danger" })
                                    </p>
                                    <p class="mb-0">@item.Qty</p>
                                    <p class="mb-0">
                                        @Html.ActionLink("+", "Cart", new { id = item.Item.Id }, new { @class = "btn btn-success" })
                                    </p>

                                </td>
                                <td class="text-center text-capitalize">@item.Item.Name</td>
                                <td class="text-center text-capitalize">
                                    @((item.Qty * item.Item.Price).ToString("c"))
                                </td>
                                <td>@Html.ActionLink("Remove", "RemoveFromCart", new { id = item.Item.Id }, new { @class = "btn btn-primary" })</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" class="text-right">Total:</td>
                            <td class="text-right">@Model.Cart.Calculate().ToString("c")</td>
                            <td>@Html.ActionLink("Create Order", "Menu", new { @class = "btn btn-primary" })</td>
                        </tr>
                    </tfoot>
                </table>

                <div class="text-center">
                    @Html.ActionLink("Back To Menu", "Menu")
                </div>
                <div class="text-center">
                    @Html.ActionLink("Create Order", "Menu")
                </div>
            </div>
        </div>
    </div>
</body>